<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{{.Page.Title}} | {{.Site.Title}}</title>
    </head>
    <body>
        <div id="site"></div>
        <script src="/javascripts/site.js"></script>
        <script>
         (function() {
             function start() {
                 var app = Elm.Main.embed(
                     document.getElementById("site"),
                     JSON.parse(req.response)
                 );
             };

             req = new XMLHttpRequest();
             req.addEventListener("load", start);
             req.open("GET", "index.json");
             req.send();
         })()
        </script>
    </body>
</html>
